In [1]:
import pandas as pd
import numpy as np

In [48]:
games=pd.read_csv("games.csv")
games

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,12/19/2020,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,12/19/2020,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,12/19/2020,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,12/18/2020,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,12/18/2020,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23416,10/6/2014,11400007,Final,1610612737,1610612740,2014,1610612737,93,0.419,0.821,...,24,50,1610612740,87,0.366,0.643,0.375,17,43,1
23417,10/6/2014,11400004,Final,1610612741,1610612764,2014,1610612741,81,0.338,0.719,...,18,40,1610612764,85,0.411,0.636,0.267,17,47,0
23418,10/6/2014,11400005,Final,1610612747,1610612743,2014,1610612747,98,0.448,0.682,...,29,45,1610612743,95,0.387,0.659,0.500,19,43,1
23419,10/5/2014,11400002,Final,1610612761,1610612758,2014,1610612761,99,0.440,0.771,...,21,30,1610612758,94,0.469,0.725,0.385,18,45,1
23420,10/4/2014,11400001,Final,1610612748,1610612740,2014,1610612748,86,0.431,0.679,...,18,42,1610612740,98,0.462,0.706,0.438,19,42,0

In [49]:
games.head(5)

,GAME_DATE,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,POINTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,POINTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,12/19/2020,12000047,Final,1610612753,1610612766,2020,1610612753,120,0.433,0.792,...,23,50,1610612766,117,0.444,0.864,0.439,21,52,1
1,12/19/2020,12000048,Final,1610612764,1610612765,2020,1610612764,99,0.427,0.625,...,24,45,1610612765,96,0.402,0.647,0.326,18,51,1
2,12/19/2020,12000049,Final,1610612763,1610612737,2020,1610612763,116,0.400,0.744,...,21,43,1610612737,117,0.422,0.837,0.297,24,47,0
3,12/18/2020,12000039,Final,1610612754,1610612755,2020,1610612754,107,0.371,0.692,...,19,45,1610612755,113,0.533,0.629,0.355,23,48,0
4,12/18/2020,12000040,Final,1610612761,1610612748,2020,1610612761,105,0.380,0.737,...,27,37,1610612748,117,0.534,0.741,0.514,30,51,0

In [50]:
games.columns

Index(['GAME_DATE', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'POINTS_home',
       'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'TEAM_ID_away', 'POINTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [51]:
####SUBSET DE COLUMNAS
games=games[['GAME_DATE', 'GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away', 'POINTS_home', 'POINTS_away', 'HOME_TEAM_WINS']]
games

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,12/19/2020,Final,1610612753,1610612766,120,117,1
1,12/19/2020,Final,1610612764,1610612765,99,96,1
2,12/19/2020,Final,1610612763,1610612737,116,117,0
3,12/18/2020,Final,1610612754,1610612755,107,113,0
4,12/18/2020,Final,1610612761,1610612748,105,117,0
...,...,...,...,...,...,...,...
23416,10/6/2014,Final,1610612737,1610612740,93,87,1
23417,10/6/2014,Final,1610612741,1610612764,81,85,0
23418,10/6/2014,Final,1610612747,1610612743,98,95,1
23419,10/5/2014,Final,1610612761,1610612758,99,94,1
23420,10/4/2014,Final,1610612748,1610612740,86,98,0

In [44]:
games.head(5)

0   2020-12-19
1   2020-12-19
2   2020-12-19
3   2020-12-18
4   2020-12-18
Name: GAME_DATE, dtype: datetime64[ns]

In [43]:
games= pd.to_datetime(games['GAME_DATE'])
games

KeyError: 'GAME_DATE'

In [29]:
games = games.astype({'GAMES_STATUS_TEXT': 'string'})

KeyError: 'Only the Series name can be used for the key in Series dtype mappings.'

In [11]:
games.info()

<class 'pandas.core.series.Series'>
RangeIndex: 23421 entries, 0 to 23420
Series name: GAME_DATE
Non-Null Count  Dtype
--------------  -----
23421 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 183.1 KB

In [23]:
teams=pd.read_csv('teams.csv')
teams.head(5)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [26]:
teams=teams[['TEAM_ID', 'CITY', 'NICKNAME']]
teams.head(5).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TEAM_ID   5 non-null      int64
 1   CITY      5 non-null      object
 2   NICKNAME  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [27]:
teams = teams.astype({'CITY': 'string', 'NICKNAME': 'string'})

In [28]:
teams.dtypes

TEAM_ID              int64
CITY        string[python]
NICKNAME    string[python]
dtype: object

In [30]:
teams.head(2)

      TEAM_ID     CITY NICKNAME
0  1610612737  Atlanta    Hawks
1  1610612738   Boston  Celtics

In [52]:
games.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS
0,12/19/2020,Final,1610612753,1610612766,120,117,1
1,12/19/2020,Final,1610612764,1610612765,99,96,1

* Within the games DataFrame, there are two columns TEAM_ID_home and TEAM_ID_away. This is because each game involves two teams playing against each other. The team that played in its own location, is called the home team, the team that played outside its location, is called the away team. Each game has one home team and one away team.
* 
While the teams DataFrame stores the information about each team, the identifier for each team is the column TEAM_ID.* 

We can merge the two DataFrames base o* n:

TEAM_ID_home in games and TEAM_ID in teams: to get the team information fo the'home'*  team
TEAM_ID_away in games and TEAM_ID in teams: to get the team information fr th 'away' team

In [54]:
games_with_home_team = pd.merge(games, teams, left_on='TEAM_ID_home', right_on='TEAM_ID', how='inner')
games_with_home_team

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,12/19/2020,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,12/19/2020,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,12/19/2020,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,12/18/2020,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,12/18/2020,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors
...,...,...,...,...,...,...,...,...,...,...
23416,10/6/2014,Final,1610612737,1610612740,93,87,1,1610612737,Atlanta,Hawks
23417,10/6/2014,Final,1610612741,1610612764,81,85,0,1610612741,Chicago,Bulls
23418,10/6/2014,Final,1610612747,1610612743,98,95,1,1610612747,Los Angeles,Lakers
23419,10/5/2014,Final,1610612761,1610612758,99,94,1,1610612761,Toronto,Raptors
23420,10/4/2014,Final,1610612748,1610612740,86,98,0,1610612748,Miami,Heat

In [56]:
games_with_home_team.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,CITY,NICKNAME
0,12/19/2020,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,12/19/2020,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,12/19/2020,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,12/18/2020,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,12/18/2020,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors

#### Rename the column CITY as 'city_home', NICKNAME as 'nickname_home'

In [59]:
games_with_home_team = games_with_home_team.rename(columns={'CITY': 'city_home', 
                                                            'NICKNAME': 'nickname_home'})

games_with_home_team

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,city_home,nickname_home
0,12/19/2020,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,12/19/2020,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards
2,12/19/2020,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies
3,12/18/2020,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers
4,12/18/2020,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors
...,...,...,...,...,...,...,...,...,...,...
23416,10/6/2014,Final,1610612737,1610612740,93,87,1,1610612737,Atlanta,Hawks
23417,10/6/2014,Final,1610612741,1610612764,81,85,0,1610612741,Chicago,Bulls
23418,10/6/2014,Final,1610612747,1610612743,98,95,1,1610612747,Los Angeles,Lakers
23419,10/5/2014,Final,1610612761,1610612758,99,94,1,1610612761,Toronto,Raptors
23420,10/4/2014,Final,1610612748,1610612740,86,98,0,1610612748,Miami,Heat

In [60]:
games_with_home_team.head(2)

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID,city_home,nickname_home
0,12/19/2020,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic
1,12/19/2020,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards

* **Merge (inner) games_with_home_team and teams based on 'TEAM_ID_away' and 'TEAM_ID', call the merged DataFrame games_with_both_teams**

In [62]:
games_with_both_teams = pd.merge(games_with_home_team, teams, left_on='TEAM_ID_away', right_on='TEAM_ID')

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,12/19/2020,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,12/19/2020,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards,1610612765,Detroit,Pistons
2,12/19/2020,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies,1610612737,Atlanta,Hawks
3,12/18/2020,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers,1610612755,Philadelphia,76ers
4,12/18/2020,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors,1610612748,Miami,Heat
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23416,10/6/2014,Final,1610612737,1610612740,93,87,1,1610612737,Atlanta,Hawks,1610612740,New Orleans,Pelicans
23417,10/6/2014,Final,1610612741,1610612764,81,85,0,1610612741,Chicago,Bulls,1610612764,Washington,Wizards
23418,10/6/2014,Final,1610612747,1610612743,98,95,1,1610612747,Los Angeles,Lakers,1610612743,Denver,Nuggets
23419,10/5/2014,Final,1610612761,1610612758,99,94,1,1610612761,Toronto,Raptors,1610612758,Sacramento,Kings
23420,10/4/2014,Final,1610612748,1610612740,86,98,0,1610612748,Miami,Heat,1610612740,New Orleans,Pelicans

In [64]:
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,TEAM_ID_home,TEAM_ID_away,POINTS_home,POINTS_away,HOME_TEAM_WINS,TEAM_ID_x,city_home,nickname_home,TEAM_ID_y,CITY,NICKNAME
0,12/19/2020,Final,1610612753,1610612766,120,117,1,1610612753,Orlando,Magic,1610612766,Charlotte,Hornets
1,12/19/2020,Final,1610612764,1610612765,99,96,1,1610612764,Washington,Wizards,1610612765,Detroit,Pistons
2,12/19/2020,Final,1610612763,1610612737,116,117,0,1610612763,Memphis,Grizzlies,1610612737,Atlanta,Hawks
3,12/18/2020,Final,1610612754,1610612755,107,113,0,1610612754,Indiana,Pacers,1610612755,Philadelphia,76ers
4,12/18/2020,Final,1610612761,1610612748,105,117,0,1610612761,Toronto,Raptors,1610612748,Miami,Heat

In [65]:
games_with_both_teams = games_with_both_teams.drop(columns=['TEAM_ID_home', 'TEAM_ID_away', 'TEAM_ID_x', 'TEAM_ID_y'])
games_with_both_teams.head()

,GAME_DATE,GAME_STATUS_TEXT,POINTS_home,POINTS_away,HOME_TEAM_WINS,city_home,nickname_home,CITY,NICKNAME
0,12/19/2020,Final,120,117,1,Orlando,Magic,Charlotte,Hornets
1,12/19/2020,Final,99,96,1,Washington,Wizards,Detroit,Pistons
2,12/19/2020,Final,116,117,0,Memphis,Grizzlies,Atlanta,Hawks
3,12/18/2020,Final,107,113,0,Indiana,Pacers,Philadelphia,76ers
4,12/18/2020,Final,105,117,0,Toronto,Raptors,Miami,Heat