In [1]:
#inmutable objetcs
#def my_f(x):
    #print(id(x))
    #x=24
    #print(id(x))
#h=2
#print(id(h))
#my_f(h)

In [2]:
#mutable objects, no estamos creando un nuevo objeto, solo estamos cambiando uno que 
#ya existe.
def my_f2(x):
    print(id(x))
    x[0]=24
    print(id(x))
h=[1,2,3]
print(id(h))
my_f2(h)
print(h)

2850272557952
2850272557952
2850272557952
[24, 2, 3]

In [7]:
def add_student(l,studentName):
    l.append(studentName)

students=['Oscar','Alan','Juan']
add_student(students,'Martha')
print(students)

['Oscar', 'Alan', 'Juan', 'Martha']

In [1]:
import random 
def roll_3_dice():
    d1 =random.randint(1,6)
    d2 =random.randint(1,6)
    d3 =random.randint(1,6)

    return(d1,d2,d3)

#print(roll_3_dice())
dice_tup=roll_3_dice()
print(dice_tup)

die1,die2,die3=roll_3_dice()
print(die1)
print(die2)
print(die3)

def name_splitter(name):
    name_sep=name.split()
    return(name_sep)
their_names=name_splitter("Oscar Alan Hernandez")
print(their_names)

first,middle,last=name_splitter("Oscar Alan Hernandez")
print(first)
print(middle)
print(last)

(4, 1, 2)
1
3
4
['Oscar', 'Alan', 'Hernandez']
Oscar
Alan
Hernandez

In [1]:
for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [2]:
for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [3]:
for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

In [4]:
for number in range(99, -1, -11):
    print(number, end=' ')

99 88 77 66 55 44 33 22 11 0

In [3]:
x=10.8
y=12.2
a=0.2

total=x+y+a
total

23.2

In [3]:
def calculate_product(*args): #args es un tupla de argumentos
    product=1
    for value in args:
     product*=value
    return product

In [5]:
calculate_product(10,20,30)

6000

In [6]:
calculate_product(*range(1,6,2))
# secuencia de valores de 1 a 6, incrementando por dos y seria 1,3,5 y despues se hace el producto
#el resultado es 15

15

In [9]:
def average(*args):
    return sum(args)/len(args)

In [11]:
average(10,5)

7.5

In [10]:
grades=[10,30,50]
average(*grades)

30.0

In [13]:
import decimal as dec
dec.Decimal("2.5")**2

Decimal('6.25')

In [14]:
width=15.5
print("id:",id(width),"value:",width)

id: 1917922131472 value: 15.5

In [15]:
width*=3

print("id:",id(width),"value:",width)

id: 1917922130544 value: 46.5

In [16]:
import statistics # para sacar varianza
statistics.pvariance([1,3,4,2,6,5,3,4,5,2])

2.25

In [17]:
statistics.pstdev([1,3,4,2,6,5,3,4,5,2])#population standard deviation

1.5

In [19]:
import math
math.sqrt(statistics.pvariance([1,3,4,2,6,5,3,4,5,2]))
#confirmamos que es la population standard deviation 
#la desviacion estandard es la raiz cuadrada de la varianza(1.5 en este caso)
#Mientras mas pequena sea la varianza y la desviacion standard, los data values estan mas 
#cerca de la media y menos de la dispersion

1.5

In [20]:
c=[-45,6,0,72,1543]
c[-1]

1543

In [21]:
a=1
b=2

In [22]:
c[a+b] # da 72 porque el numero 71 esta en el lugar 3 de la lista despues de hacer la suma

72

In [23]:
s='Hello'
s[0]

'H'

In [24]:
s[0]='h' #los strings son inmutables no se pueden modificar

TypeError: 'str' object does not support item assignment

In [16]:
a_list=[] #lista que no tiene elementos

In [17]:
for number in range(1,6):
    a_list+=[number] #+= tiene que ser una secuencia para que funcione, es un operador que concatena
a_list   #SI EL LADO IZQUIERDO ES UNA LISTA, EL DERECHO DEBE SER UNA SECUENCIA QUE SE PUEDE ITERAR

[1, 2, 3, 4, 5]

In [18]:
letters=[]
letters+='Python'

In [19]:
letters

['P', 'y', 't', 'h', 'o', 'n']

In [20]:
list1=[10,20,30]
list2=[40,50]

In [21]:
concatenated_list= list1 + list2
concatenated_list

[10, 20, 30, 40, 50]

In [24]:
for i in range (len(concatenated_list)):
    print(f'{i}:{concatenated_list[i]}') # te pone los indices

0:10
1:20
2:30
3:40
4:50

In [37]:
characters=[]
characters+='Birthday'
characters

['B', 'i', 'r', 't', 'h', 'd', 'a', 'y']

#### EXERCISE CREATE A FUNCTION CALLED CUBE_LIST THAT CUBES EACH ELEMENT FROM A LIST, CALL THE FUNCTION WITH THE LIST NUMBERS CONTAINING 1 THROUGH 10, Show numbers after the call

In [44]:
def cube_list(values):
    for i in range(len(values)):
        values[i]**=3

In [45]:
numbers=[1,2,3,4,5,6,7,8,9,10]

In [46]:
cube_list(numbers)

In [47]:
numbers

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
colors=['orange','red','yellow']
list(enumerate(colors))

[(0, 'orange'), (1, 'red'), (2, 'yellow')]

In [4]:
tuple(enumerate(colors))

((0, 'orange'), (1, 'red'), (2, 'yellow'))

In [5]:
for index, value in enumerate(colors):
    print(f'{index}:{value}')

0:orange
1:red
2:yellow

In [6]:
high_low=("Monday",87,65)
high_low

('Monday', 87, 65)

In [9]:
print(f'{high_low[0]}:High={high_low[1]}, Low={high_low[2]}')

Monday:High=87, Low=65

In [10]:
names=['alan','juan','jorge']

In [11]:
for i, name in enumerate(names):
    print(f'{i}:{name}')

0:alan
1:juan
2:jorge

In [79]:
numbers=list(range(1,16))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [80]:
del numbers[0:4]

In [81]:
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [82]:
del numbers [::2]

In [83]:
numbers

[6, 8, 10, 12, 14]

In [85]:
# PASSING LISTS TO FUNCTIONS 
def modify_elements(items): # multiplica todos los elementos en los items por 2
    for i in range(len(items)):
        items[i]*=2
numbers=[10,3,7,1,9]
numbers

[10, 3, 7, 1, 9]

In [86]:
modify_elements(numbers)
numbers

[20, 6, 14, 2, 18]

In [87]:
numbers_tuple=(10,20,30)

In [88]:
numbers_tuple

(10, 20, 30)

In [89]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

In [2]:
foods=["Cookies",'pizza','Grapes','apples','steak','Bacon']

In [3]:
foods.sort()

In [4]:
foods #CAPITAL LETTERS salen primero

['Bacon', 'Cookies', 'Grapes', 'apples', 'pizza', 'steak']

In [17]:
numbers=[3,7,1,4,2,8,5,6]

In [18]:
numbers.index(5)

6

In [19]:
numbers *=2

In [20]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [1]:
def promedio(*args):#Tupla
    return sum(args)/len(args)

def usuarios (**kwargs):# Diccionario
    print(kwargs)
    print(type(kwargs))
    
def combinacion(*args,**kwargs):
    print(args)
    print(kwargs)

combinacion(1,2,3,4,5,cody=True, curso='Python')

(1, 2, 3, 4, 5)
{'cody': True, 'curso': 'Python'}

In [1]:
my_data={'nombre':"Oscar",'edad':33} #ITERACION DE DICCIONARIOS

In [2]:
my_data

{'nombre': 'Oscar', 'edad': 33}

In [3]:
my_data.items()

dict_items([('nombre', 'Oscar'), ('edad', 33)])

In [5]:
for key, value in my_data.items():
    print(key) #primero imprime la llave y despues la segunda llave que es value 
    print(value)

nombre
Oscar
edad
33